// 変数のcode

/*
** color
*/
$color-green: #61c359;
$color-orange: #fcaa00;
$color-gray: #767676;
$color-sub-orange: #feeabc;
$color-white: #ffffff;

/*
** font-family
/*
**background-color
*/
$bg-color: #ffffff;

/*
** box-shadow
*/
$box_shadow: 2px 2px 4px $color-gray;

/*
** text-shadow
*/
$text_shadow: 2px 2px 4px $color-gray;

/*
** コンテンツ・ページ幅
*/
$page-width: 1440px;
$content-width: 968px;
